:root{
    --naranja: #FF6919;
    --azul: #02006D;
    --amarillo: #FDB604;
    --turquesa: #02D2C5;
    --gris: #737373;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bolder;
}

li{
    list-style: none;
    padding: 10px;
}

nav{
    margin: 0 auto;
    background-color: var(--naranja);
}

ul{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}

button{
    background-color: white;
    width: 40rem;
    font-weight: bold;
    color: var(--azul);
    border: 2px solid var(--naranja);
    padding: 10px;
    font-size: 2.4rem;
    border-radius: 5px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: center;
}

select{
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    color: black;
    background-color: var(--naranja);
}

.titulo{
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0;
}

.logo{
    width: 67px;
    height: 67px;
}

#dudas{
    width: 160px;
    outline: none;
    color : white;
}

#opciones{
    outline: none;
    color : white;
}

.carrusel{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.botones{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.botonactivo{
    background-color: var(--naranja);
    color: white;
    border: none;
}

.objetivo{
    width: 980px;
    font-size: 2rem;
    margin: 0 auto;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mision{
    width: 980px;
    font-size: 2rem;
    margin: 0 auto;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.vision{
    width: 980px;
    font-size: 2rem;
    margin: 0 auto;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenido{
    border-bottom: 2px solid var(--naranja);
}

.textos{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.info{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid var(--naranja);
}

.beneficios{
    display: flex;
    width: 985px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ben{
    width: 303px;
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #02006D;
}

.benp{
    width: 250px;
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #02006D;
}


.asistec{
    font-size: 3rem;
}

.croquis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: var(--naranja) 2px solid;
}

.subtitulo{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.somos p{
    font-size: 2.5rem;
    padding: 4.5rem;
    color: var(--azul);
    text-align: justify;
}

.img_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.img_txt h2{
    font-size: 4rem;
    margin-right: 2rem;
    color: black;
}

.icono{
    background-color: var(--naranja);
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.slide {
    position: relative;
    left: 9%;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 1100px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}